<%- include('partials/_header.ejs') %>

    <div class="container mt-5">
        <h1>Category</h1>
        <div class="row mt-5">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        Update Category
                    </div>
                    <div class="card-body">

                        <br>
                        <form action="/categories/update/<%= data.id %>" method="post">
                            <div class="form-group">
                                <input type="text" name="name" value="<%= data.name %>" placeholder="Name"
                                    class="form-control">
                            </div>
                            <br>

                            <button type="submit" class="btn btn-primary">
                                Edit Category
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/_footer.ejs') %>