<%- include('partials/_header.ejs') %>

    <div class="container mt-5">
        <h1>Sales</h1>
        <div class="row mt-5">
            <div class="col-md-8">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>nº</th>
                            <th>Date</th>
                            <th>Customer</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Add Sale
                    </div>
                    <div class="card-body">
                        <form action="/products/add" method="POST">
                            <div class="mb-3">
                                <input type="date" name="date" placeholder="date" class="form-control">
                            </div>

                            <div class="mb-3">
                                <select class="form-select" id="customer_id" name="customer_id">
                                    <option selected>Customer</option>
                                    <option value="1">Jhon</option>
                                    <option value="2">Pablo</option>
                                    <option value="3">Maria</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <select class="form-select" id="customer_id" name="customer_id">
                                    <option selected>Product</option>
                                    <option value="1">Smartphones</option>
                                    <option value="2">Tablets</option>
                                    <option value="3">Laptops</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="number" name="quantity" placeholder="Quantity"
                                            class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="number" name="price" placeholder="Price" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input disabled="true" type="number" name="total" placeholder="Total"
                                    class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary">Add Sale</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/_footer.ejs') %>