<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <title>Pixel Inventory</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark border-bottom border-body">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Pixel Inventory</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-dark justify-content-end flex-grow-1 pe-3">
                        <li class="btn btn-outline-secondary" style="display: block;">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                        <br>
                        <li class="btn btn-outline-secondary" style="display: block;">
                            <a class="nav-link" href="categories">Categories</a>
                        </li>
                        <br>
                        <li class="btn btn-outline-secondary" style="display: block;">
                            <a class="nav-link" href="products">Products</a>
                        </li>
                        <br>
                        <li class="btn btn-outline-secondary" style="display: block;">
                            <a class="nav-link" href="customers">Customers</a>
                        </li>
                        <br>
                        <li class="btn btn-outline-secondary" style="display: block;">
                            <a class="nav-link" href="sales">Sales</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>